.main{
	.main__feed--list{
		background-color: $white;
		.main__feed__list--element{
			.main__feed__list__element--image{
				img{
					width: 100%;
					display: block;
					vertical-align: top;
				}
			}
		}
		.main__feed__list--article{
			@extend %basicSpace;;
			.main__feed__list__article--title{
				margin-top: 0;
				font-size: 2.5em;
				margin-bottom: .3em;
			}
			.main__feed__list__article--summary{
				font-size: 1.6em;
				font-weight: 100;
			}
		}
	}
	.article--data{
		font-family: 'Andada', serif;
		margin-bottom: .4rem;
		overflow: hidden;
		font-size: 1.2em;
		color: $gray;
	}
	time{
		display: inline-block;
		font-style: italic;
		&:before{
			content: '\00a0-\00a0';
		}
	}
}