$bg : #1d1f28;
$black : #1d1f28;
$white : #fafafa;
$gray : #939192;
$border : #e7e7e7;

$reveal : #292b40;

//Couleurs
$green : #35bc7a;
$red : #d2344f;
$orange : #FD8E20;
$purple : #59487f;
$blue : #42b6f3;
$yellow : #FFD44D;
$pink : #ce4664;

//Social
$facebook : #3b5998;
$twitter : #33A8CC;